services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: php-service
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - ./:/var/www
            - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
        networks:
            - app-network
        depends_on:
            - mysql

    nginx:
        image: nginx:1.25-alpine
        container_name: nginx-service
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        networks:
            - app-network
        depends_on:
            - app

    mysql:
        image: mysql:8.0
        container_name: mysql-service
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-best_web}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-}
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        ports:
            - "3306:3306"
        volumes:
            - mysql-data:/var/lib/mysql
        networks:
            - app-network

    node:
        image: node:22-alpine
        container_name: frontend
        working_dir: /var/www/frontend
        volumes:
            - ./frontend:/var/www/frontend
            - ./public:/var/www/public
        command: sh -c "npm install && npm run build"
        networks:
            - app-network

networks:
    app-network:
        driver: bridge

volumes:
    mysql-data:
        driver: local
